@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  background: #ffa447;
  background-image: linear-gradient(
    115deg,
    rgb(163, 114, 255),
    rgba(255, 167, 180)
  );
  display: flex;
  flex-direction: column;
}

h1,
h2,
#submit-btn {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

.brand-logo {
  font-family: "Rock Salt", cursive;
  color: black;
}

/* Grid-related CSS */

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  background: white;
  border-radius: 15px;
}

.months {
  display: grid;
  grid-template-columns:
    calc(var(--week-width) * 4) /* Jan */
    calc(var(--week-width) * 4) /* Feb */
    calc(var(--week-width) * 4) /* Mar */
    calc(var(--week-width) * 5) /* Apr */
    calc(var(--week-width) * 4) /* May */
    calc(var(--week-width) * 4) /* Jun */
    calc(var(--week-width) * 5) /* Jul */
    calc(var(--week-width) * 4) /* Aug */
    calc(var(--week-width) * 4) /* Sep */
    calc(var(--week-width) * 5) /* Oct */
    calc(var(--week-width) * 4) /* Nov */
    calc(var(--week-width) * 5) /* Dec */;
  list-style-type: none;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
  list-style-type: none;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
  list-style-type: none;
}

/* Other styling */

.graph {
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
  flex-direction: column;
}

.squares li:hover {
  cursor: pointer;
  border: black solid;
}

/* Input Window */
.hidden {
  display: none;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.show-modal:focus,
.close-modal:focus {
  outline: none;
}

.btn:hover {
  background-color: rgb(172, 172, 172);
}

.close-modal:hover {
  color: rgb(238, 232, 232);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#submit-btn {
  box-shadow: 0 4px 10px 5px rgb(0 0 0 / 12%);
}

#submit-btn:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.color-key {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  max-width: 250px;
  align-items: center;
}

.color-key li {
  list-style-type: none;
}
